.header {
  width: 100%;
  background-color: #1c1c21;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
}

.link_active {
  color: #f2f2f3;
}

.link_position_last {
  display: flex;
  align-items: center;
}

.logout_button {
  background: none;
  border: none;
  cursor: pointer;
  color: #8585ad;
  padding: 0;
  margin-left: 8px;
}

.logout_button:hover {
  color: #f2f2f3;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
